/* 
    Document   : winter
    Created on : 22.07.2013, 16:20:25
    Author     : alexboo
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    background: #AA7354 url('../img/evening.jpg') 50% 0 no-repeat;
}

#sun{
    bottom:-100px;
}

#content{
    background:#FDD59A;
}

.menu .active{
    background:#FDD59A;
}
